
.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 17px;
	width: 300px;
}

.progressdone {
	//background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,102,121,1) 15%, rgba(0,212,255,1) 100%);

	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}